@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-font: "Open Sans", serif;
}
body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
.t-c {
  text-align: center;
}

.f-bold {
  font-weight: 800;
}

.line-h {
  line-height: 1.6;
}
/*Fontsize props*/
.f-l {
  font-size: 3.2rem;
}
.f-ml {
  font-size: 2.6rem;
}
.f-r {
  font-size: 2rem;
}

.f-sm {
  font-size: 1.6rem;
}
.f-xsm {
  font-size: 1.4rem;
}

/*Margin props*/

.mt-sm {
  margin-top: 1.2rem;
}

.mtb-sm {
  margin: 1.2rem 0;
}

.mlr-md {
  margin: 0 2.4rem;
}

.m-r-md {
  margin-right: 2.4rem;
}

/*Border radius props*/
.br-c {
  border-radius: 11px;
}

/*flex props*/
.f-col {
  flex-direction: column;
}
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.al-c {
  align-items: center;
}

.j-c {
  justify-content: center;
}
.j-b {
  justify-content: space-between;
}
